html { 
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See https://connect.microsoft.com/IE/feedback/details/816709/ */
  /* Thanks to @guardian, @victorbritopro, @eQRoeil & Knacss */
  font-size: calc(1em * 0.625);
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #fff;
  color: #444;
  font-family: 'roboto', Arial, sans-serif;
  font-size: 1.8em; /* equiv 18px */
  line-height: 1.5; /* to update if needed */
}


@font-face {
    /*font-family: 'robotoregular';*/
    font-family: 'roboto';
    src: url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.eot');
    src: url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    /*font-family: 'robotobold';*/
    font-family: 'roboto';
    src: url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.eot');
    src: url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    /*font-family: 'robotoitalic';*/
    font-family: 'roboto';
    src: url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.eot');
    src: url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.woff2') format('woff2'),
         url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('https://van11y.net/layout/css/fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

.mw960e {
  max-width: 60em;
  margin: 0 auto;
}
.aligncenter {
  text-align: center;
}
h1,
.h1 {
  display: block;
  font-size: 1.55556em; /* equiv 28px */
  line-height: 1.92857;
  margin: 0 0 .96429em 0;
  font-weight: normal;
}
h2,
.h2 {
  display: block;
  font-size: 1.33333em; /* equiv 24px */
  line-height: 1.125;
  margin: 0 0 1.125em 0;
  font-weight: normal;
}

.link {
  color: #4d287f;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #4d287f;
}
/* remember focus */
.link:focus,
.link:hover,
.link:active {
  color: #4d287f;
  border-bottom: 1px solid #4d287f;
  outline: 2px dotted;
}
/* avoid border on images in links + fix border image IE */
.link:link img,
.link:visited img, 
img {
  border-style: none;
}
/* external links */
.link[href^="http://"]:after,
.link[href^="https://"]:after {
  content:"\202f\2197";
  speak: none;
  border-bottom: 1px solid #fff;
  
}

.logo-link,
.logo-link:focus,
.logo-link:hover,
.logo-link:active,
.link.noimg[href^="http://"]:after,
.link.noimg[href^="https://"]:after {
  border-bottom: 0;
}

.link.noimg[href^="http://"]:after,
.link.noimg[href^="https://"]:after {
  content: '';
  speak: none;
}


.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mb0 { margin-bottom: 0; }


/* --------------- styles for expand -----------------------*/


.animated-expandmore__button,
.simple-expandmore__button {
  /*color: #148297; contraaaaaaaast */
  color: #10798E;
  width: 100%;
  cursor: pointer;
  background: transparent;
  font: inherit;
  font-size: 1.4em;
  border: 0;
  text-align: left;
}

.animated-expandmore__button::before,
.simple-expandmore__button::before {
  content: '';
  display: inline-block;
  width: .75em;
  height: .75em;
  background-image: url(https://van11y.net/layout/images/icon-arrow-green.svg) ;
  background-repeat: no-repeat;
  background-position: 0 100%;
  margin-right: .25em;
}

[aria-expanded="true"].animated-expandmore__button::before,
[aria-expanded="true"].simple-expandmore__button::before {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

/* This is the opened state */
.animated-expandmore__to_expand {
  display: block;
  overflow: hidden;
  opacity: 1;
  transition: visibility 0s ease, max-height .5s ease, opacity .5s ease ;
  max-height: 140em;
  /* magic number for max-height = enough height */
  visibility: visible;
  transition-delay: 0s;
}
/* This is the hidden state */
[data-hidden=true].animated-expandmore__to_expand {
  display: block;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition-delay: .5s, 0s, 0s;
}


.simple-expandmore__to_expand {
  display: block;
}
/* This is the hidden state */
[data-hidden=true].simple-expandmore__to_expand {
  display: none;
}


/* dropdown examples */
.dropdown-container {
  max-width: 19em; 
}

.dropdown-expandmore__button {
  cursor: pointer;
  background: #10798E;
  color: #fff;
  border: 0;
  font: inherit;
  font-size: 1em;
  padding: .5em 1em;
  position: relative;
}
.dropdown-expandmore__button::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: .5em;
  height: .5em;
  top: 100%;
  left: calc(50% - .25em);
  border: .5em solid transparent;
  border-top: .5em solid #10798E;
  transition: transform .5s ease;
  transform-origin: top center;
  transform: scale(1,0);
}
[aria-expanded="true"].dropdown-expandmore__button::after {
  transform: scale(1,1);
}
/* This is the opened state */
.dropdown-expandmore__to_expand {
  position: absolute;
  display: block;
  opacity: 1;
  transition: visibility 0s ease, transform .5s ease, opacity .5s ease ;
  transform-origin: top center;
  transform: scale(1,1);
  visibility: visible;
  transition-delay: 0s;
  max-width: 19em; 
  padding: 1em;
  background: #eee;
}
/* This is the hidden state */
[data-hidden=true].dropdown-expandmore__to_expand {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: scale(1,0);
  transition-delay: .5s, 0s, 0s;
}

/* if you want to avoid first load display, might use modernizr and add selector before this */
/*.js-first_load {
  display: none;
}*/



